:root {
    --dark-color: #111;
    --light-color: #eee;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--light-color);
    color: var(--dark-color);
}

main {
    max-width: 850px;
    margin: auto;
}

h1 {
    text-align: center;
}

a:hover {
    color: purple;
}

.spelcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#spelletje {
    border: 1px solid var(--dark-color);
}


@media (prefers-color-scheme: dark) {

    body {
        background: var(--dark-color);
        color: var(--light-color);
    }

    a {
        color: aquamarine;
    }

    a:hover {
        color: coral
    }

    #spelletje {
        border: 1px, solid var(--light-color);
    }
}